@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url(navbar.css);
@import url(table.css);

:root {
    --blur: .5rem;
    --blur-e: .25rem;
    --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);

    --background: hsl(220, 100%, 98%);
    --foreground: hsl(240, 50%, 24%);
    --card: hsl(0, 0%, 100%);
    --primary: hsl(210, 100%, 50%);
    --primary-foreground: hsl(0, 0%, 100%);
    --secondary: hsl(0, 0%, 100%);
    --secondary-foreground: hsl(240, 50%, 24%);
    --muted: hsl(220, 100%, 92%);
    --muted-foreground: hsl(210, 100%, 50%);
    --accent: hsl(210, 100%, 50%);
    --destructive: hsl(0 80% 60%);
    --destructive-foreground: hsl(0, 0%, 100%);
    --border: hsl(220, 100%, 86%);
    --ring: hsl(220 90% 64%);
}

body {
    font-family: 'Inter';
    background-color: var(--background);
    color: var(--foreground);
}

.my-container {
    background-color: var(--card);
    border: 1px solid var(--border);
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
}

.table-container {
    border-radius: 1rem 1rem calc(0.5rem + 1px) calc(0.5rem + 1px);
}

.my-card {
    background-color: var(--card);
    border: 1px solid var(--border);
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
}

a {
    color: var(--accent);
    text-decoration: none;
    display: inline-block;
    transition: transform var(--transition),
        color var(--transition), filter var(--transition);
}

.button {
    background-color: var(--primary);
    color: var(--primary-foreground);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: color var(--transition), filter var(--transition), transform var(--transition);
    box-shadow: var(--box-shadow);
}

a:hover {
    filter: brightness(1.2);
    transform: translateY(-2px);
}

.button:hover {
    filter: brightness(1.2);
    transform: scale(1.05);
}

a:active,
.button:active {
    transform: scale(0.95);
}

button {
    background-color: var(--primary);
    color: var(--primary-foreground);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: color var(--transition), filter var(--transition), transform var(--transition);
    box-shadow: var(--box-shadow);
}

.secondary {
    background-color: var(--secondary);
    color: var(--secondary-foreground);
    border: 1px solid var(--border);
}

.destructive {
    background-color: var(--destructive);
    color: var(--destructive-foreground);
}

button:hover {
    filter: brightness(1.2);
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

input, select {
    background-color: var(--secondary);
    border: 1px solid var(--border);
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    padding: 0.25rem 0.75rem;
    outline: none;
    transition: border var(--transition), box-shadow var(--transition);
}

input:focus, select:focus {
    border-color: var(--ring);
    box-shadow: 0 0 1px 1px var(--ring);
}

footer {
    background-color: var(--secondary);
    border-top: 1px solid var(--border);
}