/* Navbar */
:root{
    --navbar: hsla(210, 100%, 50%, 50%);
    --navbar-secondary: hsl(210, 100%, 50%);
    --navbar-foreground: hsl(0, 0%, 100%);
}

header {
    background-color: var(--navbar-secondary);
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 1;
}

/*.navbar-glass {
    position: absolute;
    inset: 0;
    -webkit-backdrop-filter: blur(var(--blur)) brightness(100%);
    backdrop-filter: blur(var(--blur)) brightness(100%);
    background: linear-gradient(to bottom, var(--background), transparent 50%);
    pointer-events: none;

    height: 200%;
    -webkit-mask-image: linear-gradient(to bottom,
            black 0% 50%,
            transparent 50% 100%);
    mask-image: linear-gradient(to bottom,
            black 0% 50%,
            transparent 50% 100%);
}

.navbar-glass-edge {
    position: absolute;
    height: 4px;
    -webkit-backdrop-filter: blur(var(--blur-e)) brightness(100%);
    backdrop-filter: blur(var(--blur-e)) brightness(100%);
    transform: translateY(100%);
    pointer-events: none;

    height: 100%;
    inset: 0;
    -webkit-mask-image: linear-gradient(to bottom,
            black 0,
            black 2px,
            transparent 2px);
    mask-image: linear-gradient(to bottom,
            black 0,
            black 2px,
            transparent 2px);
}*/

nav a,
nav button {
    background-color: transparent;
    color: var(--navbar-foreground);
    position: relative;
    transition: color var(--transition), filter var(--transition), transform var(--transition);
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    box-shadow: none;
}

nav a:hover,
nav button:hover {
    color: var(--navbar-foreground);
    transform: scale(1.05);
}

nav a.btn,
nav button.btn {
    background-color: var(--secondary);
    color: var(--secondary-foreground);
    position: relative;
    padding: 0.25rem 1rem;
}

nav a.btn:hover,
nav button.btn:hover {
    filter: brightness(1.2);
    transform: translateY(-2px);
    transform: scale(1.05);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}